
.mainDiv{
  display: flex;
  justify-content: center;
}
.circleDiv{
  position: relative;
  width: 200px;
  height: 200px;

  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profilelogo{
  position: absolute;
  width: 150px;
  height: 150px;
  background-image: url(../../../assets/profile.png);
  border-radius: 50%;
  background-size: cover;
}
.profileCircleText{
  position: absolute;
  height: 100%;
  width: 100%;
  animation: rotateText 10s linear infinite;
  text-transform: uppercase;
  color: #fff;
}
@keyframes rotateText
{
  0%{
    transform:rotate(360deg);
  }
  100%{
    transform:rotate(0deg);
  }
}
.profileCircleText span {
  position: absolute;
  left: 50%;
  font-size: 18px;
  transform-origin: 0 100px;

}