@keyframes rotateText {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .circularText {
    position: absolute;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none; /* Prevents interaction with the text */
    animation: rotateText 10s linear infinite; /* Apply animation */
  }
  
  .circularText span {
    position: absolute;
    transform-origin: 0 100px; /* Adjust the transform origin */
    white-space: nowrap;
    color: rgb(255, 255, 255); /* Adjust color as needed */
    font-size: 1rem; /* Adjust font size as needed */
    display: flex;
    align-items: center;
  }
  